@using System.Data;
@model DataTable
@{

    Layout = "~/Views/Administracion/GestionEmpleados.cshtml";
}

<center><h2 class="category">Gestión de empleados</h2></center>

<table table class="table table-hover table-striped">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellido Paterno</th>
            <th>Apellido Materno</th>
            <th>Turno</th>
            <th> </th>
        </tr>
    </thead>
    @using (Html.BeginForm("GestionEmpleados", "Administracion", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        <tbody>
            @foreach (DataRow row in Model.Rows)
            {
                <tr>
                    <td>
                        <input type="text" class="form-control" disabled value="@row["Nombre"]">
                    </td>
                    <td>
                        <input type="text" class="form-control" disabled value="@row["ApellidoPaterno"]">
                    </td>
                    <td>
                        <input type="text" class="form-control" disabled value="@row["ApellidoMaterno"]">
                    </td>
                    <td>
                        <input type="text" class="form-control" disabled value="@row["Turno"]">
                    </td>
                    <td>
                        <a href="@Url.Action("DatosdelUsuario", "Administracion")/@row["Id"]" type="button" class="btn btn-info">Seleccionar</a>
                    </td>
                </tr>
            }
        </tbody>
    }

</table>

<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Editar perfil de empleado</h4>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Puesto</label>
                                <input type="text" class="form-control" disabled placeholder="Company" value="Chofer">
                            </div>
                        </div>
                        <div class="col-md-4">

                            <div class="form-group">
                                <label>Unidad del empleado</label>
                                <ul>
                                    <li class="dropdown">
                                        <a href="#" button class="btn btn-secondary dropdown-toggle" data-toggle="dropdown">
                                            <p>
                                                Selección
                                                <b class="caret"></b>
                                            </p>
                                        </a>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">Action</a></li>
                                            <li><a href="#">Another action</a></li>
                                            <li><a href="#">Something</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>


                            @*<div class="form-group">
                                   <label>Unidad del empleado</label>
                                   <input type="text" class="form-control" placeholder="Unidad del empleado">
                                </div>*@

                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Turno</label>
                                <input type="email" class="form-control" placeholder="Turno de trabajo">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nombre(s)</label>
                                <input type="text" class="form-control" placeholder="Nombre(s) del empleado">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellido Paterno</label>
                                <input type="text" class="form-control" placeholder="Apellido paterno">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellido Materno</label>
                                <input type="text" class="form-control" placeholder="Apellido materno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Dirección</label>
                                <input type="text" class="form-control" placeholder="Dirección del empleado">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">

                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-success btn-fill pull-right">Agregar perfil</button>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-info btn-fill pull-right">Actualizar perfil</button>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-danger btn-fill pull-right">Eliminar perfil</button>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="http://informatyucatan.com/wp-content/uploads/unidades-situr.jpg" alt="..." />
            </div>

            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="/Content/MasterResources/assets/img/faces/face-3.jpg" alt="..." />
                        <h4 class="title">
                            Nuevo Usuario<br />
                            <small>Descripción</small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center">
                    Descripción detallada
                </p>
                <hr>
                <div class="text-center">
                </div>
            </div>
        </div>
    </div>



