@using System.Data;
@model DataTable
@{
    ViewBag.Title = "DatosdelUsuario";
    Layout = "~/Views/Shared/MasterAdministracion.cshtml";
}

@foreach (DataRow row in Model.Rows)
{
    <center><h2 class="category">Editar perfil de @row["Nombre"]</h2></center>

    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Editar perfil</h4>
            </div>
            <div class="content">
                <form>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Puesto</label>
                                <input type="text" class="form-control" disabled placeholder="Company" value="Chofer">
                            </div>
                        </div>
                        <div class="col-md-4">
                            <label>Unidad del empleado</label>
                            <div class="form-group" id="contenedor" >
                               

                            </div>

                            @*<div class="form-group">
                                   <label>Unidad del empleado</label>
                                   <input type="text" class="form-control" placeholder="Unidad del empleado">
                                </div>*@
                        </div>


                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Turno</label>
                                <div class="form-group" id="turnosEmp">


                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nombre(s)</label>
                                <input value="@row["Nombre"]" type="text" class="form-control" placeholder="Nombre(s) del empleado">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellido Paterno</label>
                                <input value="@row["ApellidoPaterno"]" type="text" class="form-control" placeholder="Apellido paterno">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Apellido Materno</label>
                                <input value="@row["ApellidoMaterno"]" type="text" class="form-control" placeholder="Apellido materno">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Dirección</label>
                                <input value="@row["Direccion"]" type="text" class="form-control" placeholder="Dirección del empleado">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                        </div>
                        <div class="col-md-3">
                            <a href="/Administracion/GestionEmpleados" class="btn btn-danger">Cancelar</a>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-info btn-fill pull-right">Actualizar perfil</button>
                        </div>
                        <div class="col-md-3">
                            <button type="submit" class="btn btn-danger btn-fill pull-right">Eliminar perfil</button>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </form>
            </div>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card card-user">
            <div class="image">
                <img src="http://informatyucatan.com/wp-content/uploads/unidades-situr.jpg" alt="..." />
            </div>
            <div class="content">
                <div class="author">
                    <a href="#">
                        <img class="avatar border-gray" src="/Content/MasterResources/assets/img/faces/face-3.jpg" alt="..." />
                        <h4 class="title">
                            @row["Nombre"]<br />
                            <small>@row["ApellidoPaterno"] @row["ApellidoMaterno"]</small>
                        </h4>
                    </a>
                </div>
                <p class="description text-center">
                </p>
                <hr>
                <div class="text-center">
                </div>
            </div>
        </div>
    </div>
 

        
      
    
}
<script src="/Content/MasterResources/assets/js/jquery-1.10.2.js" type="text/javascript"></script>
<script type="text/javascript">
    (function () {
        $("#contenedor").load('/Administracion/select_unidades');
        $("turnosEmp").load('/Administracion/select_turnos');
    }());
</script>