@using System.Data;
@model DataTable
@{
    ViewBag.Title = "PendientesDatos";
    Layout = "~/Views/Shared/MasterAdministracion.cshtml";
}

@foreach (DataRow row in Model.Rows)
{
    <center><h2 class="category">Gestión de denuncias finalizadas</h2></center>
    <br />
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                @using (Html.BeginForm("ApDenuncia", "Administracion", FormMethod.Post))
            {
                <div class="col-md-6" id="pdfdiv">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Información denuncia</h4>
                        </div>
                        <div class="content">
                            <form>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Fecha y hora</label>
                                            <input type="text" class="form-control" placeholder="" value="@row["FechaHora"]">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Operador</label>
                                            <input type="text" class="form-control" placeholder="" value="@row["Operador"]">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Unidad</label>
                                            <input type="text" class="form-control" placeholder="" value="@row["Unidad"]">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Motivo</label>
                                            <input type="text" class="form-control" placeholder="" value="@row["Motivo"]">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Ruta</label>
                                            <input type="text" class="form-control" placeholder="" value="@row["Ruta"]">
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label>Descripción</label>
                                            <textarea rows="5" class="form-control" placeholder="" value="">@row["Denuncia"]</textarea>
                                            <input value="@row["Id"]" id="txtId" name="txtId" type="text" class="form-control" style="visibility:hidden;" />
                                            <input value="@row["Estado"]" id="txtEst" name="txtEst" type="text" class="form-control" style="visibility:hidden;" />
                                            <input value="@row["Correo"]" id="txtCorreo" name="txtCorreo" type="text" class="form-control" style="visibility:hidden;" />
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-info">
                                    <br />
                                    <center>
                                        @Html.ActionLink("Abrir seguimiento de disputa", "ChatDenuncia", new { Id = row["Id"], Ruta = row["Correo"] })
                                    </center>
                                    <br />
                                </div>
                                <div class="panel panel-success">

                                    <br />
                                    <center><a id="hide1" class="btn-link" href="javascript:genPDF()" role="button">Descargar PDF</a></center>
                                    <br />
                                </div>
                                <div class="clearfix"></div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="header">
                            <h4 class="title">Ubicación</h4>
                        </div>
                        <div class="content">
                            <form>
                                <div class="panel-body">
                                    <input value="@row["Latitud"]" id="txtLatitud" name="txtLatitud" type="text" class="form-control" style="visibility:hidden;" />
                                    <div id="map" style="height: 480px"></div>
                                    <input value="@row["Longitud"]" id="txtLongitud" name="txtLongitud" type="text" class="form-control" style="visibility:hidden;" />
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="card">
                        <div class="header">
                            <h4 class="title">Información denuncia</h4>
                        </div>
                        <div class="content">
                            <form>
                                <div class="panel-body">
                                    <center><img src="@row["Imagen"]" width="250px" class="thumbnail" onerror="this.src = '/Content/MasterResources/assets/img/faces/default.png';" /></center>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
        }
            </div>
        </div>
    </div>

    <script type="text/javascript">
        function genPDF() {
            html2canvas(document.getElementById("pdfdiv")).then(function (canvas) {
                var img = canvas.toDataURL('image/png');
                //var imgData = 'data:image/jpeg;base64,/9j/4AAQSkZJ';
                var doc = new jsPDF('p', 'px', [792, 612]);
                doc.setFontSize(20);
                doc.text(35, 55, 'TuTransporte');
                doc.addImage(img, 'JPEG', 60, 100);
                doc.save('test.pdf');
            });
        }
    </script>
}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCfyDDJAmflpCHz6luQoOTPsn38JinRq3w&libraries=drawing&callback=initialize" async defer></script>

<script>
    function initialize() {

        var lat = txtLatitud.value;
        var long = txtLongitud.value;
        var mapProp = {
            center: new google.maps.LatLng(lat, long),
            zoom: 15,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        };

        var map = new google.maps.Map(document.getElementById("map"), mapProp);
        var myTrip = new Array();
        //myTrip.push(new google.maps.LatLng(20.959867, -89.582616));
        //myTrip.push(new google.maps.LatLng(20.957006, -89.570954));
        //myTrip.push(new google.maps.LatLng(20.964634, -89.569409));
        var flightPath = new google.maps.Polyline({
            path: myTrip,
            strokeColor: "#0000FF",
            strokeOpacity: 0.8,
            strokeWeight: 2
        });
        flightPath.setMap(map);
        //Estos metodos colocan latitud y longitud del marcador en los cuadros de texto, asi como sus nuevas ubicaciones si son movidos.

        var markerA = new google.maps.Marker({
            map: map,
            position: new google.maps.LatLng(lat, long),
            icon: 'http://maps.google.com/mapfiles/ms/icons/green-dot.png',
            draggable: true,
            customInfo: "Marker A"
        });

        google.maps.event.addListener(markerA, 'click', function (overlay, point) {
            document.getElementById("latbox").value = lat();
            document.getElementById("lngbox").value = lng();
        });
        google.maps.event.addListener(markerA, 'click', function (event) {
            document.getElementById("latbox").value = event.latLng.lat();
            document.getElementById("lngbox").value = event.latLng.lng();
        });

        google.maps.event.addListener(markerA, 'click', function (event) {
            document.getElementById("latbox").value = this.getPosition().lat();
            document.getElementById("lngbox").value = this.getPosition().lng();
        });

        google.maps.event.addListener(markerA, 'dragend', function (event) {
            document.getElementById("latbox").value = this.getPosition().lat();
            document.getElementById("lngbox").value = this.getPosition().lng();
        });

        //Fin Metodo

    }
    google.maps.event.addDomListener(window, 'load', initialize);
</script>
