@using System.Data;
@model DataTable
@{
    ViewBag.Title = "Inicio | TuTransporte";
    Layout = "~/Views/Shared/MasterAdministracion.cshtml";
}

<center><h2 class="category">Noticias</h2></center>
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title">Sección de noticias</h4>
                <p class="category"></p>
            </div>
            <div class="content">

                @foreach (DataRow row in Model.Rows)
                {
                    <div class="panel panel-info">
                        <!-- Default panel contents -->
                        <div class="panel-heading">@row["Titulo"]</div>
                        <div class="panel-body">
                            <p>@row["Mensaje"]</p>
                        </div>
                        <!-- List group -->
                        <ul class="list-group">
                            <li class="list-group-item">Publicado el @row["Fecha"]</li>
                        </ul>
                        <div class="list-group">
                            <br />
                            <center>
                                <a href="@Url.Action("DatosDeNoticias", "Administracion")/@row["Id"]" type="button" class="btn btn-info">Editar Noticia</a>
                                <a href="@Url.Action("EliminarNoticia", "Administracion")/@row["Id"]" type="button" class="btn btn-danger">Eliminar noticia</a><br />
                            </center>
                            <br />
                        </div>
                    </div>
                }

                <div class="footer">
                    <div class="legend">
                    </div>
                    <hr>
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Publica noticias</h4>
                <p class="category"></p>
                <br />
                <!--Modal-->
                <center>
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#exampleModal" onclick="Noticia();">
                        Agregar publicación
                    </button>
                </center>
            </div>
            <div class="content">
                <div class="footer">
                    <div class="legend">
                    </div>
                    <hr>
                    <div class="stats">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
