@using System.Data;
@model DataTable
@{
    ViewBag.Title = "Pendientes | TuTransporte";
    Layout = "~/Views/Shared/MasterAdministracion.cshtml";
}

<center><h2 class="to-animate">Gestión de denuncias pendientes</h2></center>
<br />
<div class="row">
    @foreach (DataRow row in Model.Rows)
    {
        <div class="col-sm-6 col-md-4">
            <div class="thumbnail">
                <img src="@row["Imagen"]" onerror="this.src = '/Content/MasterResources/assets/img/faces/default.png';" width="120" class="thumbnail" />
                <div class="caption">
                    <center><h3>@row["Motivo"]</h3></center>
                    <br />
                    <p>@row["FechaHora"]</p>
                    <br />
                    <p>@row["Denuncia"]</p>
                    <br />
                    <center><a href="@Url.Action("PendientesDatos", "Administracion")/@row["Id"]" type="button" class="btn btn-info">Ver más</a></center>
                </div>
            </div>
        </div>
    }
</div>
